<div class="header">
    <nav>
        <img src="/assets/main-logo.png" alt="Logo" class="logo">
        <ul>
            <li><a href="/users/">Users</a></li>
            <li><a href="/employees/">Employees</a></li>
        </ul>
    </nav>
</div>